<div class="container">

  <h1>Coleção de Filmes</h1>

  <div class="search-box">
    <input type="text" [(ngModel)]="query" placeholder="Procurar filmes..." >

    <button (click)="searchMovies()">
      Buscar
    </button>
  </div>

  <div class="movies">
    <div class="movie-card" *ngFor="let movie of movies">
      <img *ngIf="movie.posterUrl" [src]="movie.posterUrl" [alt]="movie.title">

      <h2>{{ movie.title }}</h2>
      <p>{{ movie.releaseDate }}</p>
      <p>{{ movie.overview }}</p>

    </div>
  </div>
</div>
