<div class="container">

  <h1>Scanner de DVDs</h1>
  <p class="instruction">
    Aponte a câmera para o código de barras do DVD
  </p>
  <zxing-scanner (scanSuccess)="onCodeResult($event)"></zxing-scanner>

  <div class="result" *ngIf="scannedBarcode">

    <h2>Código:</h2>
    <p>{{ scannedBarcode }}</p>
    <div class="status-card success-card" *ngIf="hasMovie === true">
      <h3 class="success">
        Você já possui este DVD
      </h3>
    </div>

    <div class="status-card danger-card" *ngIf="hasMovie === false">
      <h3 class="danger">
        DVD não encontrado na coleção
      </h3>
    </div>

  </div>
</div>
