<div class="container">

  <h1>Minha Coleção</h1>

  <div class="movies">

    <mat-card class="movie-card" *ngFor="let movie of movies" >

      <img *ngIf="movie.posterUrl" [src]="movie.posterUrl" [alt]="movie.title" >

      <mat-card-content>
        <h2>{{ movie.title }}</h2>
        <p>{{ movie.releaseDate }}</p>
        <p>{{ movie.overview }}</p>
      </mat-card-content>

      <mat-card-actions>
        <button (click)="deleteMovie(movie.id)" mat-raised-button>
          Remover
        </button>
      </mat-card-actions>

    </mat-card>

  </div>

</div>
